 {% extends "shared/base.html" %}

<!-- navbar end -->
{% block content %} {% assets "filter_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
<style>
    ul.ui-menu {
        background: rgb(246, 246, 246)
    }
</style>
<div class="container-block ">
    {% assets "filter_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <input id="hdnInpFilterUrls" type="hidden" data-Processor-Brands-Url="{{ url_for('get_filter_processor_brands') }}" data-Processor-Url="{{ url_for('get_filter_processor') }}" />
    <div class="filter-heading">
        <h2>
            Filter Phones
        </h2>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ui-widget form-group">
                <label for="ddlProcessorBrand"><b>Processor Brand: </b></label>
                <select id="ddlProcessorBrand" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ui-widget form-group">
                <label for="ddlProcessor"><b>Processor: </b></label>
                <select id="ddlProcessor" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <button class="btn btn-primary " id="btnFilterPhone" type="button">Search</button>
        </div>
    </div>
</div>

<div class="corousel-container" style="background-image:url('{{url_for('static',filename='imgfiles/Background/corousel_image.jpg')  }}')">
    <div class=" trending-phones-heading ">
        <h2>
            Trending Phones
        </h2>

    </div>
    <div class="row ">
        <div class="left-arrow slider-arrow hidden ">
            <button class="prev-next-button previous " type="button " aria-label="previous ">
        <svg viewBox="0 0 100 100 ">
          <path d="M 10,50 L 60,100 L 70,90 L 30,50 L 70,10 L 60,0 Z " class="arrow "></path>
      </svg>
    </button>
        </div>

        <div class="right-arrow slider-arrow ">
            <button class="prev-next-button next " type="button " aria-label="next ">
        <svg viewBox="0 0 100 100 ">
          <path d="M 10,50 L 60,100 L 70,90 L 30,50 L 70,10 L 60,0 Z " class="arrow " transform="translate(100, 100) rotate(180) "></path>
      </svg>
    </button>
        </div>
        {% for phone in top_phone_json %}

        <div class=" block-content ">
            <div class="card ">
                <a href="{{ url_for( 'phone_details',device_brand=phone.brand,slug=phone.slug,pro_id=phone.phone_id)}} ">
                    <img src="{{ url_for( 'static',filename='imgfiles/' +phone.img_name)}} " class="img-circle img1 " alt="{{phone.name}} ">
                </a>
                <div class="card-body ">
                    <p class="card-text ">{{phone.name}}</p>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

<div class="container-block ">
    <div class="row ">
        {% for i in nav %}
        <!-- <h1>{{i.name}}</h1> -->
        <div class="content-inline ">

            <a href="{{ url_for( 'brandinfo',brand_name=i.name, page=1, size=20)}} ">
                <img src="{{ url_for( 'static',filename='logo/' +i.image)}} " class="img-circle img1 " alt="{{i.name}} ">
            </a>

        </div>
        {% endfor%}
        <br>

    </div>
    {% assets "autoslider_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</div>
{% endblock %}