<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
<head>
  <script type="text/javascript">

  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.gsmarena.com/vv/assets10/css/specs.css?v=45">
<link rel="stylesheet" href="https://cdn.gsmarena.com/vv/assets10/css/comments-2.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- <script type="text/javascript" src="jquery/main.js"></script> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">


</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="{% url 'home' %}">NoNotch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            {% for i in nav %}
            <a class="dropdown-item dpd" href="{% url 'brandinfo' i.name %}">{{i.name}}</a>
            {% endfor %}

            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="compare_dd" data-toggle="modal" data-target="#phone_compare" href="#">compare</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-outline-success my-2 my-sm-0 outline-btn" data-toggle="modal" data-target="#myModal" type="button">Search</button>
      </form>
    </div>
  </nav>
  <!-- navbar end -->
{% block content %}
{% endblock %}

<!--  modal box-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >search phone</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control input-lg" id="search_phone" type="text">
          </div>
          <ul id="append">
          </ul>



        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-danger">close</button>
        </div>
      </div>

    </div>
  </div>
<!--end modalbox  -->
<!--  compare modal box-->
<div class="modal fade" id="phone_compare" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Compare phone</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control input-lg" id="cmp_first" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control input-lg" id="cmp_second" type="text">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <p id="selected_1" style="font-size: 15px;"  send="" ></p>

                <ul id="cmp_first_dd">
                </ul>
              </div>
              <div class="col-md-6">
                <p id="selected_2" style="font-size: 15px;"  send="" ></p>

                <ul id="cmp_second_dd">

                </ul>
              </div>
              <!-- <p class="col-md-6">second</p> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="phone_compare_button" data-dismiss="modal" class="btn btn-success">Compare</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger">close</button>
        </div>
      </div>

    </div>
  </div>
<!--end compare modalbox  -->
<!-- Data Fields for ajax calls -->
<input id="inpUrls" type="hidden" data-Search-Url = "{% url 'search_phone' %}" data-Compare-Url="{% url 'compare_phone_string' %}" />



<script src="{% static 'jquery/main.js'%}"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
