{% extends "home/base.html" %}
{% load static %}
{% load replace %}
  <!--content  -->
{%  block content %}
    <div class="container" >
      <div class="jumbotron" id="grad" >
        <div class="row phone-name">
          <div class="col-md-12">
              <h1 class="well">{{name}}</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'imgfiles/' %}{{img_name}}" class="img-rounded" alt="Cinque Terre" width="160" height="212">
            </div>
            <div class="col-md-10 phone-details">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-tv"></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span id ="spnScreenSize" style="font-size: 35px;">{{screen_size}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{resolution}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-camera"></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span style="font-size: 35px;">{{main_camera}} mp</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{video_resolution}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-microchip"></i></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span style="font-size: 35px;">{{processor}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{ram}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{storage}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-battery-three-quarters"></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span style="font-size: 35px;">{{battery}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{battery_type}}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>
    <div class="container">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" rowspan="3">1</th>
            <td>name</td>
            <td>anuj</td>
          </tr>
          <tr>

            <td>name</td>
            <td>anuj</td>
          </tr>

          <tr>

            <td>name</td>
            <td>anuj</td>
          </tr>


        </tbody>
      </table>
    </div>

{%  endblock %}
