{% extends 'home/base.html' %}
<!-- {% load static %} -->

  <!-- navbar end -->
  {% block content %}
  <div class="container">
    <div class="row abc">
      {% for i in nav %}
      <!-- <h1>{{i.name}}</h1> -->

      <div  class="col-md-3"><a href="{% url 'brandinfo' i.name %}"><img src="{{i.image.url}}" class="img-circle img1" alt="Cinque Terre" width="200" height="120"> </a></div>

      {% endfor%}
      <br>

    </div>
    <button type="button" id='show'  class="btn btn-link view_more">view </button>
  </div>
  {% endblock %}
