  .table td, .table th {
    padding: 6px;
    vertical-align: top;
    border: 2px solid #dee2e6;
  }
  .fdata {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  .demo-card-image.mdl-card {
    width: 200px;
    height: 200px;
    /* background: url('abc.jpg') center / cover; */
  }
  .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  .img1 {
    vertical-align: middle;
    border-style: none;
    padding: 10px;
  }
  #grad {
    padding: 2rem 2rem;
    background: white;
  }
  .phone-details{
    background-image: linear-gradient(to right, white, #d48080);
    padding: 10px 0px 0px 20px;
  }
  .phone-name{
    background-image: linear-gradient(to right, white, #a22e2e);
  }
