  .table td, .table th {
    /* padding: .75rem; */
    vertical-align: top;
    border: 1px solid #dee2e6;
  }
  .fdata {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  .demo-card-image.mdl-card {
    width: 200px;
    height: 200px;
    /* background: url('abc.jpg') center / cover; */
  }
  .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  .img1 {
    vertical-align: middle;
    border-style: none;
    padding: 10px;
}
#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.5));
  padding: 2rem 2rem;

}
