{% extends "base.html" %}
  <!--content  -->
{%  block content %}
<script src="{{ url_for('static',filename='jquery/phoneDetails/phonesDetails.index.js')}}"></script>
    <div class="container-block padding-zero" >
      <div class="jumbotron" id="grad" >
        <div class="row phone-name">
          <div class="col-md-12">
              <h1 class="well">{{jsonData['name']}}</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src={{ url_for('static',filename='imgfiles/'+jsonData['img_name'])}} class="img-rounded" alt="Cinque Terre" width="160" height="212">
            </div>
            <div class="col-md-10 phone-details">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-tv"></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span id ="spnScreenSize" style="font-size: 35px;">{{jsonData['screen_size']}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{jsonData['resolution']}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-camera"></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span style="font-size: 35px;">{{jsonData['main_camera']}} mp</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{jsonData['video_resolution']}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-microchip"></i></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span style="font-size: 35px;">{{jsonData['processor']}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{jsonData['ram']}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{jsonData['storage']}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2> <i class="fas fa-battery-three-quarters"></i></h2>
                    </div>
                    <div class="col-md-12">
                      <span style="font-size: 35px;">{{jsonData['battery']}}</span>
                    </div>
                    <div class="col-md-12">
                      <span class="badge badge-secondary">{{jsonData['battery_type']}}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>
    <div class="container-block">
      <div class="row">
        <div class="col-md-6 margin-bottm">
            <div class="card">
                <div class="card-header data-header">
                    Network
                </div>
              <table class="table fdata">
                  <tbody>
                    {% for name,data in jsonData['body_network'].items() %}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
            <div class="card">
                <div class="card-header data-header">
                    Launch
                </div>
            <table class="table fdata">
                <tbody>
                  {% for name,data in jsonData['body_launch'].items() %}
                  <tr>
                    <!-- <th rowspan="10">adads</th> -->
                    <td>{{name}}</td>
                    <td>{{data}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 margin-bottm">
            <div class="card">
              <div class="card-header data-header">
                  Body
              </div>
              <table class="table fdata">
                  <tbody>
                    {% for name,data in jsonData['body_body'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
            <div class="card">
              <div class="card-header data-header">
                  Display
              </div>
              <table class="table fdata">
                  <tbody>
                    {% for name,data in jsonData['body_display'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
            <div class="card">
              <div class="card-header data-header">
                  Platform
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_platform'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
            <div class="card">
              <div class="card-header data-header">
                  Memory
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_memory'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
          <div class="card">
              <div class="card-header data-header">
                  Main Camera
              </div>
              <table class="table fdata">
                  <tbody>
                {% for name,data_arr in jsonData['body_maincamera'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>
                        {% autoescape off %}
                          {{data_arr}}
                        {% endautoescape  %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
          <div class="card">
              <div class="card-header data-header">
                  Selfie Camera
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_selfie'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
          <div class="card">
              <div class="card-header data-header">
                  Sound
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_sound'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
          <div class="card">
              <div class="card-header data-header">
                  Comms
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_comms'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
          <div class="card">
              <div class="card-header data-header">
                  Features
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_features'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
            <div class="card">
              <div class="card-header data-header">
                  Battery
              </div>
              <table class="table fdata">
                  <tbody>
                    {% for name,data in jsonData['body_battery'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-6 margin-bottm">
          <div class="card">
              <div class="card-header data-header">
                  Misc
              </div>
              <table class="table fdata">
                  <tbody>
                  {% for name,data in jsonData['body_misc'].items() %}
                    <tr>
                      <!-- <th rowspan="10">adads</th> -->
                      <td>{{name}}</td>
                      <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

{%  endblock %}
