<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_css.css') }}">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="username") }}
            {{ form.password(placeholder="password") }}
            {{ form.submit() }}
            <p class="message">Not registered? <a href="#">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>