<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <title>{{title}}</title>
    <script type="text/javascript">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="verify-admitad" content="f1ff2e7f14" />
    <title></title>
    <META NAME="description" CONTENT="Planning for Online Mobile Shopping? Visit us now to explore mobile phones including mobile prices, reviews, comparisons, features, videos, accessories & more." />
    <META NAME="keywords" CONTENT="Mobile Phones, Mobile Prices in India, Online Mobile Shopping" /> {% if metadata.brand %}
    <META NAME="brand" CONTENT="{{metadata.brand}}" /> {% endif %} {% if metadata.brand %}
    <META NAME="title" CONTENT="{{metadata.title}}" /> {% endif %} {% if metadata.brand %}
    <META NAME="phone" CONTENT="{{metadata.phone}}" /> {% endif %}
    <link rel="shortcut icon" href="{{ url_for( 'static',filename='logo/favicon.ico')}} " type="image/x-icon">
    <link rel="icon" href="{{ url_for( 'static',filename='logo/favicon.ico')}} " type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- <script type="text/javascript" src="jquery/main.js"></script> -->
    {% assets "main_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
    <META NAME="keywords" CONTENT="Mobile Phones, Mobile Prices in India, Online Mobile Shopping" />
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TRNPC2F');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        ul.ui-menu {
            background: rgb(246, 246, 246)
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRNPC2F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{{url_for('home') }}">
            <img src="{{ url_for( 'static',filename='logo/phone_worldz_title.png')}} " width="60px" height="60px" alt="home page "> Phone Worldz
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto glb_sub_header">
                <li class="nav-item nav-search">
                    <div class="input-group">
                        <input id="search_phone_outer" type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-nav-search btn-primary" type="button">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <div class="menubar">
        <div class="menudropdown">
            <button class="dropbtn">Mobiles & Tablets
           <i class="fa fa-caret-down"></i> 
        </button>
            <div class="menudropdown-content">
                <div class="row">
                    <div class="menucolumn">
                        <h6>Price Range</h6>
                        <a class="" href="/#">All Price</a>
                        <a class="" href="/#">Under Rs. 5000</a>
                        <a class="" href="/#">Rs. 5000 - Rs. 10000</a>
                        <a class="" href="/#">Rs. 10000 - Rs. 15000</a>
                        <a class="" href="/#">Rs. 15000 - Rs. 20000</a>
                        <a class="" href="/#">Rs. 20000 - Rs. 250000</a>
                        <a class="" href="/#">Above Rs. 25000</a>
                        <a href="/#">
                            <h6 style="font-size:15px">Latest Mobiles</h6>
                        </a>
                        <a href="/#">
                            <h6 style="font-size:15px">Best Mobiles</h6>
                        </a>
                    </div>
                    <div class="menucolumn">
                        <h6>Features</h6>
                        <a class="" href="/#">4 GB RAM Mobiles </a>
                        <a class="" href="/#">6 GB Mobiles</a>
                        <a class="" href="/#">8 GB Mobiles</a>
                        <a class="" href="/#">Best Battery Life Phones</a>
                        <a class="" href="/#">Best Camera Mobiles</a>

                    </div>
                    <div class="menucolumn">
                        <h6>More features</h6>
                        <a class="" href="/#">Dual Sim Mobiles</a>
                        <a class="" href="/#">Small Size [4.5 - 5.2 Inch]</a>
                        <a class="" href="/#">Mid Size [5.3 - 5.9 Inch]</a>
                        <a class="" href="/#">Large Size [6.0 Inch +]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menudropdown">
            <button class="dropbtn">Top 10
           <i class="fa fa-caret-down"></i> 
        </button>
            <div class="menudropdown-content">
                <div class="row">
                    <div class="menucolumn">
                        <a href="/#">
                            <h6 style="font-size:15px">Top 10 Mobiles</h6>
                        </a>
                        <h6>Top Mobiles By Price</h6>
                        <a class="" href="/#">Best Phones Under 5000</a>
                        <a class="" href="/#">Best Phones Under 10000</a>
                        <a class="" href="/#">Best Phones Under 15000</a>
                        <a class="" href="/#">Best Phones Under 20000</a>
                        <a class="" href="/#">Best Phones Under 250000</a>
                    </div>
                    <div class="menucolumn">
                        <h6>Top Mobiles By Brand</h6>
                        <a class="" href="/#">Samsung Mobiles </a>
                        <a class="" href="/#">Lenovo Mobiles</a>
                        <a class="" href="/#">Xiaomi Mobiles</a>
                        <a class="" href="/#">OnePlus Mobiles</a>
                        <a class="" href="/#">Vivo Mobiles</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="menudropdown">
            <button class="dropbtn">Brands
           <i class="fa fa-caret-down"></i> 
        </button>
            <div class="menudropdown-content">
                <div class="row">
                    {% for brandList in nav %}
                    <div class="menucolumn">
                        {% for i in brandList %}
                        <div class="image-navbar">
                            <a href="{{ url_for( 'brandinfo',brand_name=i.name, page=1, size=20)}} ">
                                <img src="{{ url_for( 'static',filename='logo/' +i.image)}} " class="img-circle img1 " alt="{{i.name}} ">
                            </a>
                        </div>
                        {% endfor %}
                    </div> {% endfor %}
                </div>
            </div>
        </div>
        <a href="/#">Blogs</a>
        <a href="/#">News</a>
        <a class="nav-link" id="compare_dd" data-toggle="modal" data-target="#phone_compare" href="#">compare</a>
        <a href="/#">About Us</a>
        <a href="/#">Contact Us</a>
    </div>

    <!-- navbar end -->
    <div>
        {% block content %} {% endblock %}
    </div>
    <!-- footer block -->
    <footer class="page-footer font-small blue pt-4">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="row">
                    <ul class="foot-menu">
                        <li class="foot-menu-item mbr-fonts-style display-7">
                            <a class="text-white mbr-bold" href="#" target="_blank">About us</a>
                        </li>
                        <li class="foot-menu-item mbr-fonts-style display-7">
                            <a class="text-white mbr-bold" href="#" target="_blank">Services</a>
                        </li>
                        <li class="foot-menu-item mbr-fonts-style display-7">
                            <a class="text-white mbr-bold" href="#" target="_blank">Get In Touch</a>
                        </li>
                        <li class="foot-menu-item mbr-fonts-style display-7">
                            <a class="text-white mbr-bold" href="#" target="_blank">Careers</a>
                        </li>
                        <li class="foot-menu-item mbr-fonts-style display-7">
                            <a class="text-white mbr-bold" href="#" target="_blank">Work</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="social-list align-right pb-2">
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <i class="fab fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row row-copirayt">
                    <p class="mbr-text mb-0 mbr-fonts-style mbr-white display-7">
                        © Copyright 2019 <a href="#" class="text-white"><b>Phone Worldz</b></a> - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!--  modal box-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">search phone</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control input-lg" id="search_phone" type="text">
                    </div>
                    <ul id="append">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">close</button>
                </div>
            </div>

        </div>
    </div>
    <!--end modalbox  -->
    <!--  compare modal box-->
    <div class="modal fade" id="phone_compare" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Compare phone</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control input-lg" id="cmp_first" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control input-lg" id="cmp_second" type="text">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p id="selected_1" style="font-size: 15px;" send=""></p>

                                <ul id="cmp_first_dd">
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <p id="selected_2" style="font-size: 15px;" send=""></p>

                                <ul id="cmp_second_dd">

                                </ul>
                            </div>
                            <!-- <p class="col-md-6">second</p> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="phone_compare_button" data-dismiss="modal" class="btn btn-success">Compare</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">close</button>
                </div>
            </div>

        </div>
    </div>
    <!--end compare modalbox  -->
    <!-- Data Fields for ajax calls -->

    <input id="inpUrls" type="hidden" data-Search-Url="{{ url_for('search_phone') }}" data-Compare-Url="{{ url_for('compare_phone') }}" data-Search-Nav-Url="{{ url_for('gets_phonelistbyname') }}" />


    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156965078-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-156965078-1');
    </script>
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>